*~
*.cmo
*.o
*.cmx
*.cma
*.cmxa
*.cmi
*.annot
parser.ml
parser.mli
parser_operations.ml
parser_operations.mli
lexer.ml
lexer.mli
lexer_operations.ml
lexer_operations.mli
.depend
types
doc


*.svg
*.txt 
